language: generic
sudo: required
services:
    - docker

before_install:
    - docker build -t react-test -f ./client/Dockerfile.dev ./client

script:
    - docker run -e CI=true react-test npm test

after_success:
    - docker build -t 7676bukkyo/multi-client ./client
    - docker build -t 7676bukkyo/multi-nginx ./nginx
    - docker build -t 7676bukkyo/multi-server ./server
    - docker build -t 7676bukkyo/multi-worker ./worker

    # login to docker CLI
    - echo "\$DOCKER_PASSWORD" | docker login -u "\$DOCKER_ID" --password-stdin
    # take those images nd push them to docker hub
    - docker push 7676bukkyo/multi-client
    - docker push 7676bukkyo/multi-nginx
    - docker push 7676bukkyo/multi-server
    - docker push 7676bukkyo/multi-worker